---
# Source: app/templates/services/data-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: data-service
spec:
  selector:
    app: data-service
  ports:
    - protocol: TCP
      port: 9090
      targetPort: 9090
  type: ClusterIP
