---
# Source: app/templates/services/search-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: search-service
spec:
  selector:
    app: search-service
  ports:
    - protocol: TCP
      port: 9093
      targetPort: 9093
  type: ClusterIP
