apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-service
  labels:
    app: search-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: search-service
  template:
    metadata:
      labels:
        app: search-service
    spec:
      containers:
      - name: search-service
        image: app-search-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 9093
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "local"
